*{
    padding: 0;
    margin: 0;
}

.navbar{padding: 15px 20px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 100;
    background-color: aliceblue;
    justify-content: space-between;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.navbar_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_left .search{
    display: flex;
    align-items: center;
    bak
}

.navbar_left img{
    height: 40px;
}